- action = current_action?(:edit) || current_action?(:update) ? 'edit' : 'create'
- file_name = params[:id].split("/").last ||= ""
- is_markdown = Gitlab::MarkupHelper.gitlab_markdown?(file_name)

.file-holder-bottom-radius.file-holder.file.append-bottom-default
  .js-file-title.file-title.align-items-center.clearfix{ data: { current_action: action } }
    .editor-ref.block-truncated
      = sprite_icon('fork', size: 12)
      = ref
    - if current_action?(:edit) || current_action?(:update)
      %span.pull-left.append-right-10
      = text_field_tag 'file_path', (params[:file_path] || @path),
        class: 'form-control new-file-path js-file-path-name-input'
      = render 'template_selectors'

    - if current_action?(:new) || current_action?(:create)
      %span.pull-left.append-right-10
        \/
      = text_field_tag 'file_name', params[:file_name], placeholder: "File name",
        required: true, class: 'form-control new-file-name js-file-path-name-input', value: params[:file_name] || (should_suggest_gitlab_ci_yml? ? '.gitlab-ci.yml' : '')
      = render 'template_selectors'
      - if should_suggest_gitlab_ci_yml?
        .js-suggest-gitlab-ci-yml{ data: { toggle: 'popover',
          target: '#gitlab-ci-yml-selector',
          track_label: 'suggest_gitlab_ci_yml',
          dismiss_key: "suggest_gitlab_ci_yml_#{@project.id}" } }

    .file-buttons
      - if is_markdown
        = render 'projects/blob/markdown_buttons', show_fullscreen_button: false
      = button_tag class: 'soft-wrap-toggle btn', type: 'button', tabindex: '-1' do
        %span.no-wrap
          = custom_icon('icon_no_wrap')
          No wrap
        %span.soft-wrap
          = custom_icon('icon_soft_wrap')
          Soft wrap
      .encoding-selector
        = select_tag :encoding, options_for_select([ "base64", "text" ], "text"), class: 'select2', tabindex: '-1'

  .file-editor.code
    %pre.js-edit-mode-pane.qa-editor#editor= params[:content] || local_assigns[:blob_data]
    - if local_assigns[:path]
      .js-edit-mode-pane#preview.hide
        .center
          %h2
            %i.icon-spinner.icon-spin
